<table class="border-collapse table-auto w-full text-sm">
  <thead class="bg-slate-800">
    <tr>
      <th
        class="border-b border-slate-600 font-medium p-4 pl-8 pb-3 text-slate-200 text-left"
      >
        Name
      </th>
      <th
        class="border-b border-slate-600 font-medium p-4 pl-8 pb-3 text-slate-200 text-left"
      >
        Title
      </th>
      <th
        class="border-b border-slate-600 font-medium p-4 pl-8 pb-3 text-slate-200 text-left"
      >
        Years of Experience
      </th>
      <th
        class="border-b border-slate-600 font-medium p-4 pl-8 pb-3 text-slate-200 text-left"
      >
        Department
      </th>
      <th
        class="border-b border-slate-600 font-medium p-4 pl-8 pb-3 text-slate-200 text-left"
      >
        Actions
      </th>
    </tr>
  </thead>
  <tbody class="">
    <tr *ngFor="let emp of employees">
      <td class="border-b border-slate-700 p-4 pl-8">
        {{ emp.name }}
      </td>
      <td class="border-b border-slate-700 p-4 pl-8">
        {{ emp.title }}
      </td>
      <td class="border-b border-slate-700 p-4 pl-8">
        {{ emp.yearsOfExperience }}
      </td>
      <td class="border-b border-slate-700 p-4 pl-8">
        {{ emp.department }}
      </td>
      <td class="border-b border-slate-700 p-4 pl-8">
        <svg
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="red"
          xmlns="http://www.w3.org/2000/svg"
          (click)="deleteEmp(emp.name)"
          class="cursor-pointer"
        >
          <path
            d="M7 4a2 2 0 0 1 2-2h6a2 2 0 0 1 2 2v2h4a1 1 0 1 1 0 2h-1.069l-.867 12.142A2 2 0 0 1 17.069 22H6.93a2 2 0 0 1-1.995-1.858L4.07 8H3a1 1 0 0 1 0-2h4zm2 2h6V4H9zM6.074 8l.857 12H17.07l.857-12zM10 10a1 1 0 0 1 1 1v6a1 1 0 1 1-2 0v-6a1 1 0 0 1 1-1m4 0a1 1 0 0 1 1 1v6a1 1 0 1 1-2 0v-6a1 1 0 0 1 1-1"
          />
        </svg>
      </td>
    </tr>
    <tr>
      <td
        *ngIf="!employees.length"
        class="w-full text-center p-5 border-b border-slate-700"
        colspan="5"
      >
        No employees found
      </td>
    </tr>
  </tbody>
</table>
